body{
    background-color:#e26326;
}

.logo{
    margin-top: 30px;
    margin-left: 20px;
}

.imgLogo{
  max-height:200px;
  max-width:200px;
}

#MainJumbotron {
  padding:10px;
  background-color:#e26326;
    margin-left: 250px;
    margin-right: 250px;
}

figure{
    float:left;
}

.jumbotron {
    background: white;
    border-radius: 80px 20px;
    padding: 40px;
    padding-bottom: 80px;
}

.jumbotronText{
    align-content: flex-end;
}

.imgJumbetron {
  max-height:300px;
  max-width:300px;
    margin-left: 30px;
    margin-bottom: 30px;
    float: left;
}

.btn-default{
    background-color: white;
    color: #e26326;
    font-size: 20px;
}




